# Create a DataFrame from List

In [1]:
import pandas as pd

In [4]:
student_data=[[1,15],[2,11],[3,11],[4,20]]

In [5]:
student_df = pd.DataFrame(student_data, columns=['student_id','age'])
student_df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

# Get the Size of a DataFrame

Return the result as an array:

[number of rows, number of columns]

In [6]:
list(student_df.shape)

[4, 2]

# Display the First Three Rows

In [7]:
student_df.iloc[0:3]

   student_id  age
0           1   15
1           2   11
2           3   11

In [8]:
student_df.head(3)

   student_id  age
0           1   15
1           2   11
2           3   11